extends layout

block content
  h1= title

  ul
    each author in author_list
      li
        a(href=author.url) #{author.name}
        |  (#{author.dob_formatted} - #{author.dod_formatted})

    else
      li There are no authors.
